.aboutMePage {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .leftColumn {
        margin: 20px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .rightColumn {
        margin-left: 30px;

        .description {
            margin-left: 30px;
        }
    }
}