.aboutMePage {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .leftColumn {
        margin: 20px 20px 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    .rightColumn {
        margin-left: 30px;
        margin-right: 30px;

        .description {
            margin-left: 30px;
        }
    }
}

@media (max-width: 1300px) {
    .aboutMePage {
        display: flex;
        flex-direction: column;

        .leftColumn {
            margin: 0px;
            display: flex;
            justify-content: center;
            height: 250px;
            width: 100%;
            background-size: contain;
        }

        .rightColumn {
            width: calc(100% - 60px);
            .description {
                margin: 0px;
                text-align: center;
            }
        }
    }
}