.cartPageWrapper {
    .cartItems {
        display: flex;
        flex-direction: column;
        align-items: center;

        .emptyCart {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2em;
        }
    }

    .totalPrice {
        display: flex;
        justify-content: center;
        color: black;
        font-size: 25px;

        h1 {
            font-weight: 200;
            margin: 30px 0px 0px 0px;
        }
    }

    .checkoutBtn {
        display: flex;
        justify-content: center;

        button {
            @include submitButton()
        }
    }
}

@media (max-width: 800px) {
    .cartPageWrapper {
        .totalPrice {
            font-size: 20px;
        }

        .checkoutBtn {
            button {
                width: 90%;
            }
        }
    }
}