.circleIcon {
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        height: 25px;
        width: 25px;
    }
}

.customLeiPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .subHeading {
        margin: 10px;
    }

    .sizeOptionsWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .sizeOption {
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            
            &:hover {
                cursor: pointer;
            }

            .sizeText {
                margin: 3px;
                font-size: 18px;
            }

            .circleIcon {
                svg {
                    color: $green;
                }
            }
        }
    }

    .colorElementsWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .staticColorElementsWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            margin: 5px;

            &:hover {
                cursor: pointer;
            }

            .colorText {
                color: black;
                margin: 3px;

            }

            .chosenColor {
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;
                margin: 3px;
            }
        }

        .colorWrapper {
            display: flex;
            margin: 5px;
        }
    }

    .qty-selector {
        @include qty-selector()
    }

    .price {
        color: black;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .addToCart {
        @include submitButton();
    }

    .disabled {
        box-shadow: 0px 50px rgba(0, 0, 0, 0.1) inset;

        &:hover {
            background-color: $light-teal;
            cursor: default;
            box-shadow: 0px 50px rgba(0, 0, 0, 0.1) inset;
        }
    }
}