.leiItemWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;

    .leftColumn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 77%;
        }
    }

    .rightColumn {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 60px;

        .leiItemTop {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .heading {
                margin: 0px;
            }

            .leiPrice {
                display: flex;
                align-items: center;
                font-size: 2.1em;
                color: black;
            }
        }

        .leiItemBody {
            margin-left: 30px;
            margin-top: 20px;
            justify-content: left;
            width: 100%;
        }

        .leiItemBottom {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;

            .qty-selector {
                @include qty-selector();
            }

            .addToCart {
                @include submitButton();
                width: 70%;
            }
        }
    }
}