@import "variables.scss";

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $grey;
}

.heading {
    color: $orange;
    font-family: 'Spicy Rice', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;

    h1 {
        margin: 0px;
    }
}

.subHeading {
    color: $light-teal;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

@import "home.scss";
@import "navbar.scss";
@import "aboutMe.scss";
@import "auth.scss";
@import "custom.scss";
@import "colorItem.scss";