.ReactModal__Content, .ReactModal__Content--after-open {
    height: 80%;
};

.modalForm {
    input {
        border: none;
        border-bottom: $light-teal 2px solid;
        padding: 0px;
        transition: ease-in-out 0.2s;
        width: 40%;
        font-size: 1em;

        &:focus {
            outline: none;
            border-bottom: $dark-teal 2px solid;
        }
    }

    .row1 {
        display: flex;
        justify-content: space-around;
        margin: 20px 0px;
    }

    .row2 {
        display: flex;
        justify-content: center;

        select {
            border: none;
            margin: 0px 20px;
            height: 30px;
            width: 100px;
            font-size: 1em;
        }
    }

    .row3 {
        display: flex;
        justify-content: center;

        textarea {
            width: 90%;
            height: 100px;
            border: $grey 1px solid;
            margin: 20px;
        }
    }

    .row4 {
        display: flex;
        justify-content: center;
        margin: 20px;
        width: 100%;

        .dropzone {
            width: 50%;
        }
    }

    .row5 {
        display: flex;
        justify-content: center;

        button {
            border: none;
            background-color: $light-teal;
            color: white;
            width: 120px;
            height: 40px;
            margin: 0px 20px;
        }
    }
}