.navBar {
    position: sticky;
}


.navWrapper {
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;

    .logoWrapper {
        img {
            height: 90px;
        }
    }

    .dropdownWrapper {
        display: grid;
        grid-template-rows: min-content;
        justify-self: right;
        justify-items: right;
        width: fit-content;

        .navBarIcon {
            display: grid;
            justify-content: end;
            align-items: center;
            font-size: 40px;
            color: $light-teal;
            margin-right: 30px;
            width: fit-content;
            height: 90px;
        }

        .linksWrapper {
            width: fit-content;
            display: grid;
            grid-template-rows: auto;
            justify-self: right;
    
            .linkWrapper {
                width: 230px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.5s ease-in-out;
    
                &:hover {
                    background-color: $green;
                }
    
                a {
                    text-decoration: none;
                    color: white; 
                }
    
                .navLink {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    justify-content: center;
                    align-content: center;
                }
            }
    
            .darkTeal {
                background-color: $dark-teal;
            }
    
            .lightTeal {
                background-color: $light-teal;
            }
        }
    }
}