.paymentFormWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .paymentForm {
        width: 400px;

        .subHeading {
            margin: 20px 0px;
        }

        .submitBtn {
            @include submitButton();
            width: 100%;
            margin-left: 0px;
            background-color: $orange;
        }

        .total {
            display: flex;
            justify-content: center;
            color: black;
            font-size: 25px;
            margin-top: 20px;

            h1 {
                font-weight: 200;
                margin: 30px 0px 0px 0px;
            }
        }

        .paymentFormErrorMessage {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px 0px;
            margin-top: 20px;
            width: 100%;
            background-color: #ff3333;
            color: white;
            font-size: 1.2em;
        }
    }
}